header{
    background-color: black;
    color: white;
    padding: 15px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    box-shadow: 1px 1px 15px rgb(183, 181, 181);
    padding: 15px;
    flex: 1 1 150px;
    margin: 5px;
    border-radius: 5px;
}
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.blue {
    border-left: 3px solid blue;
}
.green {
    border-left: 3px solid green;
}
.red {
    border-left: 3px solid red;
}
.fuchsia {
    border-left: 3px solid fuchsia;
}